@mixin header {
  font-size: 2rem;
  line-height: 100%;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: $breakpoint-laptop) {
    text-align: left;
    font-size: 3rem;
  }
}

@mixin content {
  font-family: 'Alata', sans-serif;
  text-align: center;
  line-height: 167%;
  font-weight: 400;
  opacity: 0.5;
  @media (min-width: $breakpoint-laptop) {
    text-align: left;
  }
}

.active {
  transform: scaleX(1) !important;
}
